body {
	margin: 0;
}
.container {
	max-width: 1170px;
	min-width: 320px;
	margin: 32.46px 6% 0;
}
.header {
	display: flex;
	max-width: 1030px;
	max-height: 95px;
}

.logo {
	height: 55px;
	min-width: 55px;
	background: url(../images/Axion-logo-1.png) no-repeat 100%;
	background-size: cover;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 4%;
}


.nav__link {
	text-transform: uppercase;
	text-decoration: none;
	font-family: Gotham Pro;
	font-weight: bold;
	color: #000;
	font-size: 12px;
	white-space: pre;
	padding: 0 18% 0
	0;
}

.nav__link:hover {
	cursor: pointer;
}

.nav__img {
	position: relative;
	right: 14%;
	width: 15px;
	height: 15px;
}

.form {
	display: flex;
	align-items: center;
	margin-left: 32%;
}

.form__input {
	border: none;
	border-bottom: 1px solid;
	max-width: 175px;
}

.form__button {
	border: none;
	background-color: #fff;
	border-bottom: 1px solid;
	max-height: 18.333px;
	margin-left: -4%;
}

.form__button:hover {
	cursor: pointer;
}

.language {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 5.5%;
}

.language__button {
	border: none;
	width: 20px;
	height: 20px;
	background: url(../images/united-states.png) no-repeat;
	background-size: cover;
}

.language__button:hover {
	cursor: pointer;
}

.menu__button {
	display: none;
}

.main {
	height: 280px;
	background: url(../images/rob-potter-422534-unsplash.svg) 100%;
	width: 1030px;
	background-size: cover;
	margin-top: 29px;
}

.main__title {
	position: absolute;
	top: 180px;
	left: 11.5%;
	font-family: Gotham Pro;
	width: 195px;
	height: 86.94px;
	color: #fff;
	font-size: 30px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: justify;
	text-transform: uppercase;
}

.main__subtitle {
	position: absolute;
	margin-left: 6.5%;
	top: 300px;
	margin-left: 6%;
	padding-right: 25px;
	color: #fff;
	font-family: Gotham Pro;
	font-size: 12px;
	line-height: 11px;
	text-transform: uppercase;
}

.main__link {
	position: absolute;
	margin-left: 13.5%;
	top: 307px;
	text-decoration: none;
	color: #fff;
	transform: scaleX(2.5);
}

.product {
	margin-top: 50px;
	max-width: 1030px;
}

.product__title {
	font-family: Gotham Pro;
	font-size: 22px;
	line-height: 21px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-transform: uppercase;
}

.product__cards {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	font-family: 'Gotham Pro';
	font-size: 12px;
	line-height: 11px;
	font-style: 500;
	font-weight: normal;
}

.price {
	font-family: 'Gotham Pro';
	font-size: 14px;
	line-height: 13px;
	font-style: normal;
	font-weight: bold;
}

.product__line {
	display: flex;
	justify-content: space-between;
	width: 0px;
	height: 100.18px;
	opacity: 0.2;
	border: 1px solid #000;
}

.black {
	display: flex;
	align-items: center;
	background-color: #000;
	height: 494px;
}

.title {
	font-family: Gotham Pro;
	font-size: 22px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}

.title_black {
	color: #fff;
}

.paragraph_black {
	font-family: Gotham Pro;
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	font-style: normal;
	color: #fff;
}

.stories {
	display: flex;
}

@media all and (max-width: 1170px) {
	.logo {
		min-width: 61.03px;
		}

	.main {
		min-height: 253px;
	}
}

@media all and (max-width: 768px) {
	.container {
		max-width: 768px;
	}

	.header {
		height: 113px;
	}

	.logo {
		margin-top: 37px;
		height: 29%;
		min-width: 156px;
		background: url(../images/Axion-logo-1.svg) no-repeat 100%;
		background-size: cover;
	}

	.nav {
		display: block;
		position: fixed;
		visibility: hidden;
	}

	.form {
		display: none;
	}

	.menu__button {
		display: block;
		margin-left: auto;
		margin-top: 35px;
		width: 6%;
		height: 25px;
		z-index: 1;
		border: none;
		background: #fff;
	}

	.menu__button > span,
	.menu__button > span::before,
	.menu__button > span::after {
		display: block;
		position: absolute;
		height: 9px;
		background-color: #000;
		width: 60px;
	}

	.menu__button > span::after {
		content: '';
		top: 17px;
	}

	.language {
		display: none;
	}
	.main {
		width: 1526px;
		height: 415px;
		margin-left: -127px;
		background: url(../images/rob-potter-422534-unsplash.svg) no-repeat center;
		background-size: cover;
	}

	.product {
		min-width: 768px;
		margin: 0 70px 0;
	}

	.product__title {
		font-size: 30px;
		line-height: 29px;
	}

	.product__cards {
		margin-left: 100px;
		min-width: 627px;
	}

	.product__block {
		width: 352px;
		height: 280px;
	}

	.product__block img{
		min-width: 229px;
		min-height: 233px;
	}

	.name {
		font-size: 20px;
		line-height: 19px;
	}

	.price {
		font-size: 25px;
		line-height: 24px;
	}

	.product__block_tablet {
		display: none;
	}

	.product__line {
		display: none;
	}
}
